# Binaries for programs and plugins
awf
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# WASM build
front/lib.wasm

# Protobuf compilation
messages/*message/
lib/data

# Output of generate
lib/static/build.go

# Javascript stuff
node_modules/
front/build

# Build artifact for Javascript
front/game.js
front/game.js.map
